<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Karşılaştır | Unileague</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/f511ffda2f.js" crossorigin="anonymous"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/comparision.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>

    <nav class="navbar navbar-dark navbar-expand-md fixed-top navbar-shrink py-3 bg-dark" id="mainNav">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="/">
                    </svg></span><span>UNILEAGUE</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Anasayfa</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/comparison">Karşılaştır</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ranking">Genel Sıralama</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Hakkımızda</a></li>
                </ul>
                <% if (userType==="loggedIn") { %>
                  <a class="btn btn-primary shadow" role="button" href="user/profile"> &nbsp;Profilim&nbsp;&nbsp; </a>
                  &nbsp;&nbsp;
                  <a class="btn btn-primary shadow" role="button" onclick="logout()">Çıkış Yap</a>
                <% } else { %>
                  <a class="btn btn-primary shadow" role="button" href="/login">Giriş Yap</a>
                <% } %>
                &nbsp;&nbsp;
                </ul><% if (userType==="visitor") { %>
                  <a id="registerBtn" class="btn btn-primary shadow" role="button" href="/register">Kayıt Ol</a>
                <% } %>
            </div>
        </div>
    </nav>

    <section class="py-5 mt-5">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">Üniversiteleri Karşılaştır!</h2>
                    <p class="text" style="font-size: 25px;">Ondan fazla parametre ile dilediğin üniversiteleri birbirleriyle karşılaştır.</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-2">
                <div class="col">
                    <div class="card border-danger border-2 h-100">
                        <div class="card-body d-flex flex-column justify-content-between p-4">
                            <div class="btn-group dropup">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                  Üniversite Seç
                                </button>
                                <div class="dropdown-menu scrollable-menu" style="max-width: 100%;"role="menu"aria-labelledby="dropdownMenuButton">
                                  <ul class="list-unstyled">
                                    <% all_uni_info.forEach(element => { %>
                                        <li><a class="dropdown-item" id="<%= element._id %>" onclick="selectUniversity('<%= element._id %>',0)"><%= element.title %></a></li>
                                    <% }) %>
                                  </ul>
                                </div>
                              </div>
                            <br>
                            <div id="0">
                        
                                <h6 class="fw-bold  text-center" id="province" style="color:black"><%= all_uni_info[0].Province %></h6>
                                <h3 class="display-11 fw-bold mb-4 text-center text-primary" id="uni_name" ><%= all_uni_info[0].title %></h3>
                                <p style="font-size: 20px; display: flex; align-items: center;">
                                    0
                                    <span style="flex-grow: 1; text-align: center; font-style: italic;">Genel Puan</span>
                                    <span style="float: right;">10</span>
                                  </p>
                                <div class="progress">
                                    <div class="progress-bar" id="progress_0" role="progressbar" style="width: <%= 0.6 * (all_uni_info[0].unileague_point / all_uni_info[0].rate_count ) +
                                    0.4 * (all_uni_info[0].edu_point / all_uni_info[0].rate_count ) %>0%;" 
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                
                                <br><br><br>

                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em; color: black; font-style: italic;">UniLeague Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="unil"> <%= all_uni_info[0].unileague_point / all_uni_info[0].rate_count %></span></li>
                                   <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Eğitim Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="edu"> <%= all_uni_info[0].edu_point / all_uni_info[0].rate_count %></span>
                                      </li>
                                      <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Barıma İmkan Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="dorm"> <%= all_uni_info[0].dorm_point / all_uni_info[0].rate_count %></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Ulaşım Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="trans"> <%= all_uni_info[0].trans_point / all_uni_info[0].rate_count %></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Kampüs Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="campus"> <%= all_uni_info[0].campus_point / all_uni_info[0].rate_count %></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Ön Lisans Öğrenci Sayısı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="on_lisans"> <%= all_uni_info[0].on_lisans_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Lisans Öğrenci Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="lisans"> <%= all_uni_info[0].lisans_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Yüksek Lisans Öğrenci Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="yüksek_lisans"> <%= all_uni_info[0].yüksek_lisans_toplam%></span></li>
                                        <hr>
                                    
                                    <li class="d-flex mb-2">
                                                <span style="font-weight: bold; font-size: 1.5em;">Doktora Öğrenci Sayısı</span>
                                                <div class="flex-grow-1"></div>
                                                <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="doktora"> <%= all_uni_info[0].doktora_toplam%></span></li>
                                    <hr>
                                    <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Toplam Öğrenci Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="ogrenci"> <%= all_uni_info[0].ogrenci_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                                <span style="font-weight: bold; font-size: 1.5em;">Profesör Sayısı</span>
                                                <div class="flex-grow-1"></div>
                                                <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="prof"> <%= all_uni_info[0].prof_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Doçent Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="docent"> <%= all_uni_info[0].docent_toplam%></span></li>
                                    <hr>
                                    <li class="d-flex mb-2">
                                                <span style="font-weight: bold; font-size: 1.5em;">Doktora Öğretim Üyesi Sayısı</span>
                                                <div class="flex-grow-1"></div>
                                                <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="doktor"> <%= all_uni_info[0].doktor_ogretim_uyesi_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                                    <span style="font-weight: bold; font-size: 1.5em;">Öğretim Görevlisi Sayısı</span>
                                                    <div class="flex-grow-1"></div>
                                                    <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="ogretım_gorevlisi"> <%= all_uni_info[0].ogretım_gorevlisi_toplam%></span></li>
                                        <hr>
                                        <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Araştırma Görevlisi Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="arastırma_gorevlisi"> <%= all_uni_info[0].arastırma_gorevlisi_toplam%></span></li>
                                         <hr>
                                   <li class="d-flex mb-2">
                                    <span style="font-weight: bold; font-size: 1.5em;">Toplam Akademisyen Sayısı</span>
                                    <div class="flex-grow-1"></div>
                                    <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="toplam_akademisyen"> <%= all_uni_info[0].toplam_akademisyen%></span></li>
                                 
                                       </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-danger border-2 h-100">
                        <div class="card-body d-flex flex-column justify-content-between p-4">
                            <div class="btn-group dropup">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                  Üniversite Seç
                                </button>
                                <div class="dropdown-menu scrollable-menu" style="max-width: 100%;"role="menu"aria-labelledby="dropdownMenuButton">
                                  <ul class="list-unstyled">
                                    <% all_uni_info.forEach(element => { %>
                                        <li><a class="dropdown-item" id="<%= element._id %>" onclick="selectUniversity('<%= element._id %>',1)"><%= element.title %></a></li>
                                    <% }) %>
                                  </ul>
                                </div>
                              </div>
                              <br>
                             
                                 <div id="1">
                        
                                <h6 class="fw-bold  text-center" id="province" style="color:black"><%= all_uni_info[0].Province %></h6>
                                <h3 class="display-11 fw-bold mb-4 text-center text-primary" id="uni_name" ><%= all_uni_info[0].title %></h3>
                                <p style="font-size: 20px; display: flex; align-items: center;">
                                    0
                                    <span style="flex-grow: 1; text-align: center; font-style: italic;">Genel Puan</span>
                                    <span style="float: right;">10</span>
                                  </p>
                                <div class="progress">
                                    <div class="progress-bar" id="progress_0" role="progressbar" style="width: <%= 0.6 * (all_uni_info[0].unileague_point / all_uni_info[0].rate_count ) +
                                    0.4 * (all_uni_info[0].edu_point / all_uni_info[0].rate_count ) %>0%;" 
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                
                                <br><br><br>
                                
                            

                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em; color: black; font-style: italic;">UniLeague Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="unil"> <%= all_uni_info[0].unileague_point / all_uni_info[0].rate_count  %></span></li>
                                   <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Eğitim Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="edu"> <%= all_uni_info[0].edu_point / all_uni_info[0].rate_count %></span>
                                      </li>
                                      <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Barıma İmkan Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="dorm"> <%= all_uni_info[0].dorm_point / all_uni_info[0].rate_count %></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Ulaşım Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="trans"> <%= all_uni_info[0].trans_point / all_uni_info[0].rate_count %></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Kampüs Puanı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="campus"> <%= all_uni_info[0].campus_point / all_uni_info[0].rate_count %></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                        <span style="font-weight: bold; font-size: 1.5em;">Ön Lisans Öğrenci Sayısı</span>
                                        <div class="flex-grow-1"></div>
                                        <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="on_lisans"> <%= all_uni_info[0].on_lisans_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Lisans Öğrenci Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="lisans"> <%= all_uni_info[0].lisans_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Yüksek Lisans Öğrenci Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="yüksek_lisans"> <%= all_uni_info[0].yüksek_lisans_toplam%></span></li>
                                        <hr>
                                    
                                    <li class="d-flex mb-2">
                                                <span style="font-weight: bold; font-size: 1.5em;">Doktora Öğrenci Sayısı</span>
                                                <div class="flex-grow-1"></div>
                                                <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="doktora"> <%= all_uni_info[0].doktora_toplam%></span></li>
                                    <hr>
                                    <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Toplam Öğrenci Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="ogrenci"> <%= all_uni_info[0].ogrenci_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                                <span style="font-weight: bold; font-size: 1.5em;">Profesör Sayısı</span>
                                                <div class="flex-grow-1"></div>
                                                <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="prof"> <%= all_uni_info[0].prof_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Doçent Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="docent"> <%= all_uni_info[0].docent_toplam%></span></li>
                                    <hr>
                                    <li class="d-flex mb-2">
                                                <span style="font-weight: bold; font-size: 1.5em;">Doktora Öğretim Üyesi Sayısı</span>
                                                <div class="flex-grow-1"></div>
                                                <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="doktor"> <%= all_uni_info[0].doktor_ogretim_uyesi_toplam%></span></li>
                                        <hr>
                                    <li class="d-flex mb-2">
                                                    <span style="font-weight: bold; font-size: 1.5em;">Öğretim Görevlisi Sayısı</span>
                                                    <div class="flex-grow-1"></div>
                                                    <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="ogretım_gorevlisi"> <%= all_uni_info[0].ogretım_gorevlisi_toplam%></span></li>
                                        <hr>
                                        <li class="d-flex mb-2">
                                            <span style="font-weight: bold; font-size: 1.5em;">Araştırma Görevlisi Sayısı</span>
                                            <div class="flex-grow-1"></div>
                                            <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="arastırma_gorevlisi"> <%= all_uni_info[0].arastırma_gorevlisi_toplam%></span></li>
                                         <hr>
                                   <li class="d-flex mb-2">
                                    <span style="font-weight: bold; font-size: 1.5em;">Toplam Akademisyen Sayısı</span>
                                    <div class="flex-grow-1"></div>
                                    <span style="font-weight: bold; font-size: 1.5em; color:blue;" id="toplam_akademisyen"> <%= all_uni_info[0].toplam_akademisyen%></span></li>
                                 
                                       </ul>
                            </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>

    <script>

function selectUniversity(clickedId,divId) {
  console.log(divId);
  var allUniInfo = <%- JSON.stringify(all_uni_info) %>;
  
  var selectedUni = allUniInfo.find(function(uni) {
    return uni._id === clickedId;
  });
  
  var divElement = document.getElementById(divId);


  divElement.querySelector("#uni_name").innerText = selectedUni.title;
  divElement.querySelector("#province").innerText = selectedUni.Province;
  
  
  divElement.querySelector("#edu").innerText = selectedUni.edu_point / selectedUni.rate_count;
  divElement.querySelector("#dorm").innerText = selectedUni.dorm_point / selectedUni.rate_count;
  divElement.querySelector("#trans").innerText = selectedUni.trans_point / selectedUni.rate_count;
  divElement.querySelector("#campus").innerText = selectedUni.campus_point / selectedUni.rate_count;
  divElement.querySelector("#unil").innerText = selectedUni.unileague_point / selectedUni.rate_count;
  
  
  divElement.querySelector("#on_lisans").innerText = selectedUni.on_lisans_toplam;

  divElement.querySelector("#lisans").innerText = selectedUni.lisans_toplam;
  divElement.querySelector("#yüksek_lisans").innerText = selectedUni.yüksek_lisans_toplam;
  divElement.querySelector("#doktora").innerText = selectedUni.doktora_toplam;
  divElement.querySelector("#ogrenci").innerText = selectedUni.ogrenci_toplam;

  divElement.querySelector("#prof").innerText = selectedUni.prof_toplam;
  divElement.querySelector("#docent").innerText = selectedUni.docent_toplam;
  divElement.querySelector("#doktor").innerText = selectedUni.doktor_ogretim_uyesi_toplam;
  divElement.querySelector("#ogretım_gorevlisi").innerText = selectedUni.ogretım_gorevlisi_toplam;

  divElement.querySelector("#arastırma_gorevlisi").innerText = selectedUni.arastırma_gorevlisi_toplam;
  divElement.querySelector("#toplam_akademisyen").innerText = selectedUni.toplam_akademisyen;
  
  var progressWidth = 0.6 * (selectedUni.unileague_point / selectedUni.rate_count) + 0.4 * (selectedUni.edu_point / selectedUni.rate_count);
  var intProgressWidth = parseInt(progressWidth); 
  if (intProgressWidth) {
    var progressString = intProgressWidth + "0%";
    divElement.querySelector("#progress_0").style.width = progressString
  }
  else {
    divElement.querySelector("#progress_0").style.width = "0"
  }


}

async function logout(){
    const response = await fetch("http://localhost:5000/user/logout", {
        method: 'GET',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
        },
        credentials:"include"
      });
      response.json().then(data => {
        window.location.href = '/'
      });
  }

</script>
     
</body>

<footer class="py-2 bg-dark text-light">
    <div class="container text-center">
        <p>&copy; 2023 UNILEAGUE. Bütün hakları saklıdır.</p>
    </div>
</footer>

</html>