<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/university_page.css">

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    
    <script src="https://kit.fontawesome.com/f511ffda2f.js" crossorigin="anonymous"></script>
    <script src="/js/university_page.js"></script>
    
    <title><%= uni_info.title %> | Unileague</title>
</head>
<body>
  <nav class="navbar navbar-dark navbar-expand-md fixed-top navbar-shrink py-3 bg-dark" id="mainNav">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/">
                </svg></span><span>UNILEAGUE</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/">Anasayfa</a></li>
                <li class="nav-item"><a class="nav-link" href="/comparison">Karşılaştır</a></li>
                <li class="nav-item"><a class="nav-link" href="/ranking">Genel Sıralama</a></li>
            </ul>
            <% if (userType==="loggedIn") { %>
              <a class="btn btn-primary shadow" role="button" href="/user/profile"> &nbsp;Profilim&nbsp;&nbsp; </a>
              &nbsp;&nbsp;
              <a class="btn btn-primary shadow" role="button" onclick="logout()">Çıkış Yap</a>
            <% } else { %>
              <a class="btn btn-primary shadow" role="button" href="/login">Giriş Yap</a>
            <% } %>
            &nbsp;&nbsp;
            </ul><% if (userType==="visitor") { %>
              <a id="registerBtn" class="btn btn-primary shadow" role="button" href="/register">Kayıt Ol</a>
            <% } %>
        </div>
    </div>
</nav>

  
  <section class="py-5 my-5">
  
    <div class="container py-5">
        <div class="row mb-2">
          <div class="col-md-8 col-xl-7 text-center mx-auto">
            <h2 class="display-6 fw-bold mb-3"><span class="pb-3 underline"><%= uni_info.title %><br></span></h2>
            <h2 class="display-6 mb-1"><span class="pb-3 underline"><%= uni_info.Province %><br></span></h2>
          
            <i class="fa-solid fa-link" style="color: #2907eb;"></i>
            <p class="mb-0 ms-3" style="display: inline;"><a href="<%= uni_info.web_address %>" target="_blank"><%= uni_info.web_address %></p></a>
            &nbsp;
            <i class="fa-sharp fa-solid fa-envelope" style="color: #2907eb;"></i>
            <p class="mb-0 ms-3" style="display: inline;"><a href="https://mail.google.com/mail/?view=cm&to=<%= uni_info.email %>" target="_blank"><%= uni_info.email %></p></a>
            &nbsp;
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-lg-6 justify-content-center py-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Öğrenci Puanlamaları</h5>
          
                  <div class="d-flex justify-content-center">
                    <div class="star-rating">
                      <span class="font-weight-bold" style="font-size: 22px;">Eğitim&nbsp&nbsp</span>
                      <% for (let index = 0; index < 10; index++) { %>
                      <button type="button" class="star-btn" value="edu" data-value="<%= index+1 %>">
                        <i class="bi bi-star-fill"></i>
                      </button>
                      <% } %>
                    </div>
                  </div>
          
                  <div class="d-flex justify-content-center">
                    <div class="star-rating">
                      <span class="font-weight-bold" style="font-size: 22px;">Barınma</span>
                      <% for (let index = 0; index < 10; index++) { %>
                      <button type="button" class="star-btn" value="dorm" data-value="<%= index+1 %>">
                        <i class="bi bi-star-fill"></i>
                      </button>
                      <% } %>
                    </div>
                  </div>
          
                  <div class="d-flex justify-content-center">
                    <div class="star-rating">
                      <span class="font-weight-bold" style="font-size: 22px;">Ulaşım&nbsp</span>
                      <% for (let index = 0; index < 10; index++) { %>
                      <button type="button" class="star-btn" value="transportation" data-value="<%= index+1 %>">
                        <i class="bi bi-star-fill"></i>
                      </button>
                      <% } %>
                    </div>
                  </div>
          
                  <div class="d-flex justify-content-center">
                    <div class="star-rating">
                      <span class="font-weight-bold" style="font-size: 22px;">Kampüs&nbsp</span>
                      <% for (let index = 0; index < 10; index++) { %>
                      <button type="button" class="star-btn" value="campus" data-value="<%= index+1 %>">
                        <i class="bi bi-star-fill"></i>
                      </button>
                      <% } %>
                    </div>
                  </div>
                  <div>
                  </div>
                </div>
              </div>
              <% if (!isRated) { %>  
                <button type="button" class="btn btn-primary btn-sm float-end 2 mt-2" onclick="giveRating('<%= uni_info._id %>')">Oyları Gönder</button> 
              <% } %>
            </div>
          
            <div class="col-lg-6 justify-content-center py-5">
              <div class="card">
                <div class="card-body">
                  <ul>
                    <li>
                      <p class="mb-4 fw-bold">BÖLGE
                        <span style="float: right; font-size: 1.2em; color: #3B71CA;"><%= uni_info.Region %></span>
                      </p>
                    </li>
                    <hr>
                    <li>
                      <p class="mb-4 fw-bold">TÜR
                        <span style="float: right; font-size: 1.2em; color: #3B71CA;"><%= uni_info.Type %></span>
                      </p>
                    </li>
                    <hr>
                    <li>
                      <p class="mb-4 fw-bold">KURULUŞ
                        <span style="float: right; font-size: 1.2em; color: #3B71CA;"><%= uni_info.Foundation %></span>
                      </p>
                    </li>
                    <hr>
                    <li>
                      <p class="mb-4 fw-bold">REKTÖR
                        <span style="float: right; font-size: 1.2em; color: #3B71CA;"><%= uni_info.rec_name %> <%= uni_info.rec_surname %></span>
                      </p>
                    </li>
                    <hr>    
                  </ul>  
                </div>
              </div>
            </div>
          </div>
        

        <section id="commentSection" style="background-color: #eee;">
          <div class="my-5 py-5">
            <h2 class="display-6 fw-bold mb-3 text-center text-primary"><span class="pb-3 underline"><%= uni_info.title %></span></h2>
            <h3 class="display-6 fw-bold mb-3 text-center">hakkındaki yorumlar</h3>
            <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn" onclick="type0comment()">Hemen Yorum Yap!</button>
          </div>
            <div class="row d-flex justify-content-center" >
              <div class="col-md-12 col-lg-10 col-xl-8"> 
                <br><br>
                <div class="d-flex flex-start w-100" >                
                  <div id="type0comment" class="form-outline w-100" style="display: none;">
                     
                    <textarea  id="content2"  class="form-control" id= "aaaa" rows="8"
                      style="background: #fff;"></textarea>
                      <button type="button" class="btn btn-sm float-end mt-2" onclick="closetype0comment()"><i class="fa-solid fa-xmark" style="color:red"></i>&nbsp;</button>
      
                      <button type="button" class="btn btn-primary btn-sm float-end mt-2" onclick="addComment('<%= uni_info._id %>','0','content2')" >Yorumu Gönder</button>
                      
                  </div>
                </div>
                <br>
                <% comment_info.forEach(normal_comment => { %>
                  <% if (normal_comment.conversation_id == '0') { %>
                <div class="card my-3">
                  <div class="card-body">
                   
                      <div class="d-flex flex-start align-items-center">
                        <img class="rounded-circle shadow-1-strong me-3"
                          src="/images/comment_img.png" alt="avatar" width="60"
                          height="60" />
                        <div>
  
                        
                    
                       <% user_info.forEach(user => { %>
                          <% if (user._id == normal_comment.user_id) { %>
                            <h6 class="fw-bold text-primary mb-1">
                              <a href="/user/profile/<%= user._id %>">
                                <%= user.name %> <%= user.last_name %>
                              </a>
                              <% if (normal_comment.uni_id == user.uni_id) { %>
                                <div class="overlay">
                                  <i class="fa-regular fa-circle-check" style="color:red;"></i>
                                </div>
                              <% } %>
                            </h6>
                          <% } %>
                       <% }) %>
                        <p class="text-muted small mb-0">
                          <%= normal_comment.createdAt.toLocaleString('tr-TR', { day: 'numeric',month: 'long', hour: 'numeric', minute: 'numeric' }) %>
                        </p>
                      </div>
                    </div>
        
                    <p class="mt-3 mb-4 pb-2">
                      <%= normal_comment.content %>
                    </p>
        
                    <div class="small d-flex justify-content-start">
                      <button type="button"  id="like<%= normal_comment.id %>" class="btn btn-sm d-flex align-items-center me-3" onclick="likeComment('<%= normal_comment.id %>'); ">
                        <i class="far fa-thumbs-up me-2">&nbsp; <%= normal_comment.likes.length %></i>
                      </button>
                      <button type="button" id="dislike<%= normal_comment.id %>" class="btn btn-sm d-flex align-items-center me-3" onclick="dislikeComment('<%= normal_comment.id %>')">
                        <i class="fa-regular fa-thumbs-down"></i>&nbsp; <%= normal_comment.dislikes.length %></i>
                      </button>
                      <button type="button" class="btn btn-sm d-flex align-items-center me-3" onclick="replySection('<%= normal_comment._id %>')">
                        <i class="far fa-comment-dots me-2"></i>
                      </button>
                    </div>
                    <hr>
                    
            
                    <div id= "<%= normal_comment._id %>_comment"class="card-footer py-3 border-0" style="background-color: #f8f9fa; display: none;">
                      <div class="d-flex flex-start w-100">
                        <img class="rounded-circle shadow-1-strong me-3"
                        src="/images/comment_img.png" alt="avatar" width="40"
                          height="40" />
                          
                        <div class="form-outline w-100">
                          <textarea class="form-control" id= "<%= normal_comment._id %>_comment_reply_text" rows="4"
                            style="background: #fff;"></textarea>
                       
                        </div>
                      </div>
                      <div class="float-end mt-2 pt-1">
                        <button type="button" class="btn btn-primary btn-sm" onclick="addComment('<%= uni_info._id %>','<%= normal_comment._id%>','<%= normal_comment._id %>_comment_reply_text')">Yorumu Gönder</button>
                      </div>
      
                      <% comment_info.forEach(comment => { %>
                        <% if (normal_comment._id == comment.conversation_id) { %>
        
                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img class="rounded-circle shadow-1-strong"
                              src="/images/comment_img.png" alt="avatar"
                                width="65" height="65" />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div class="d-flex justify-content-between align-items-center">
                                  
                                  <% user_info.forEach(user => { %>
      
                                    <% if (user._id == comment.user_id) { %>
                                      <p class="mb-1">
                                       
                                        <a href="/user/profile/<%= user._id %>"><%= user.name %> <%= user.last_name %>
                                        </a>
                                        <% if (comment.uni_id == user.uni_id) { %>
                                            <i class="fa-regular fa-circle-check" style="color:red;"></i>  
                                        <% } %>
                                        &nbsp&nbsp<span class="small"><%= comment.createdAt.toLocaleString('tr-TR', { day: 'numeric',month: 'long', hour: 'numeric', minute: 'numeric' }) %></span>
                                        
                                      </p>
                                    <% } %>
                                   
                                  <% }) %>
                                </div>
                                <p class="small mb-0">
                                  <%= comment.content %>
                                </p>

                                <div class="small d-flex justify-content-start">
                                  <button type="button"  id="like<%= comment.id %>" class="btn btn-sm d-flex align-items-center me-3" onclick="likeComment('<%= comment.id %>'); ">
                                    <i class="far fa-thumbs-up me-2">&nbsp; <%= comment.likes.length %></i>
                                  </button>
                                  <button type="button" id="dislike<%= comment.id %>" class="btn btn-sm d-flex align-items-center me-3" onclick="dislikeComment('<%= comment.id %>')">
                                    <i class="fa-regular fa-thumbs-down"></i>&nbsp; <%= comment.dislikes.length %></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>        
                        <% } %>
                    <% }) %>
                    </div>
                  </div> 
                </div>
            
                  <% } %>
                <% }) %>
              </div>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" onclick="previousPage()"><a class="page-link" href="#commentSection">Önceki</a></li>
              <li class="page-item" onclick="goToPage(1)"><a class="page-link"  href="#commentSection">1 </a></li>
              <li class="page-item" onclick="goToPage(2)"><a class="page-link"  href="#commentSection">2</a></li>
              <li class="page-item" onclick="goToPage(3)"><a class="page-link"  href="#commentSection">3</a></li>
              <li class="page-item" onclick="nextPage()"><a class="page-link"   href="#commentSection">Sonraki</a></li>
            </ul>
          </nav>
          </div>
    
        </section>
    </div>
</section>

<footer class="py-2 bg-dark text-light">
  <div class="container text-center">
      <p>&copy; 2023 UNILEAGUE. Bütün hakları saklıdır.</p>
  </div>
</footer>

<% if (!isRated) { %>
  <script>
    addStarRatingEvent()
  </script>
  <%} else { %>
    <script>
      const ratingSections = document.querySelectorAll('.star-rating');
    
    ratingSections.forEach((section) => {
      const ratingButtons = section.querySelectorAll('.star-btn');
      
      ratingButtons.forEach((button) => {
        let selectedRating = 0;
        if(button.getAttribute("value") === "dorm"){
          selectedRating = <%= uni_info.dorm_point / uni_info.rate_count %>
        }
        else if(button.getAttribute("value") === "edu"){
          selectedRating = <%= uni_info.edu_point / uni_info.rate_count %>
        }
        else if(button.getAttribute("value") === "transportation"){
          selectedRating = <%= uni_info.trans_point / uni_info.rate_count %>
        }
        else{
          selectedRating = <%= uni_info.campus_point / uni_info.rate_count %>
        }
          ratingButtons.forEach((btn) => {
            const ratingValue = btn.dataset.value-1;
            const starIcon = btn.querySelector('i');
  
            if (ratingValue <= selectedRating-1) {
              btn.classList.add('selected');
              starIcon.classList.remove('bi-star');
              starIcon.classList.add('bi-star-fill');
            } else {
              btn.classList.remove('selected');
              starIcon.classList.remove('bi-star-fill');
              starIcon.classList.add('bi-star');
            }
            
          }); 
          switch(button.getAttribute("value")){
            case "edu":
              edu_point = selectedRating;
              break;
            case "dorm": 
              dorm_point = selectedRating;
              break;
            case "campus":
              campus_point = selectedRating
              break;
            case "transportation":
              trans_point = selectedRating
              break;
          }
      });
    });
    </script>
  <% } %>


  <div class="modal" id="errorModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Hata Mesajı</h5>
        </div>
        <div class="modal-body">
          <p id="errorMessage"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
        </div>
      </div>
    </div>
  </div>

  
</body>

</html>
